<h1>Diego Meneses</h1>
<form>
  <div class="form-group">
    <label for="txt_nombre">Nombre</label>
    <input name="txt_nombre" type="text" class="form-control" id="txt_nombre" placeholder="Juanito">
  </div>
    <div class="form-group">
    <label for="txt_mail">Email</label>
    <input name="txt_mail" type="email" class="form-control" id="txt_mail" placeholder="juanito@hola.cl">
  </div>
  <div class="form-group">
    <label for="txt_edad">Edad</label>
    <input name="txt_edad" type="number" class="form-control" id="txt_edad" placeholder="ej: 23">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
